{% extends 'app/base.html' %}
{% block title %}Category Detail{% endblock title %}
{% block content %}
{% load static %}
<h1>Category: {{ category.name }}</h1>
<p><strong>Description:</strong> {{ category.description }}</p>
<p><strong>Date:</strong> {{ category.created_at }}</p>
<p><strong>Products:</strong></p>
<ul>
    {% for product in category.products.all %}
    <li>{{ product.name }}</li>
    {% empty %}
    <li>No products</li>
    {% endfor %}
</ul>
<a href="{% url 'category_update' category.pk %}">Edit</a> 
<a href="{% url 'category_delete' category.pk %}">Delete</a>
<br>
<button><a href="{% url 'category_list' %}">Back</a><button>
{% endblock content %}
